.results-page {
  padding-top: 0.5rem;
  margin: auto;
  max-width: 70rem;
}

.results-page h1 {
  font-size: 2.5rem;
}

.results-page h3 {
  padding: 15px;
  font-size: 1.5rem;
}

.results-page .results-container {
  margin-bottom: 2rem;
}

.answer-container {
  background-color: rgb(0,157,119);
  margin: 1rem 0rem;
  padding: 2rem;
  border-radius: 15px;
  animation: transitionIn 0.3s;
  display: flex;
  align-items: center;
}

.answer-container img {
  float: left;
  height: auto;
  display: none;
}

.answer-container .answer-content {
  margin:0 auto;
}

.answer-container .highlight {
  color: red;
  text-decoration: underline;
}

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: rotateX(-100deg);
  }

  to {
    opacity: 1;
    transform: rotateX(0);
  }
}

@media (min-width: 1000px) {
  .answer-container {
    margin: 1rem 5rem;
  }
}


@media (min-width: 700px) {
  .answer-container img {
    max-width: 12rem;
    margin-left: 1rem;
    display: block;
  }
  .answer-container .answer-content {
    max-width: 70%;
  }
}